/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

#bellhop-button {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: #008080;
	border: solid white 3px;
	outline: solid black 1px;
	position: relative;
	line-height: 60px;
	text-align: center;
	color: white;
	z-index: 100;
	filter: drop-shadow(5px 5px 4px #000);
}

#bellhop-button:hover {
	filter: drop-shadow(5px 5px 4px #000) brightness(120%);
	cursor: pointer;
}

#bellhop-button:before {
	content: " ";
	position: absolute;
	z-index: 5;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border-radius: 100%;
  }

  #bellhop-button-image {
	width: 36px;
	height: 36px;
	padding-top: 15%;
	pointer-events: none;
  }

  #bellhop-phone-button {
	position: absolute;
	text-align: center;
	z-index: 4;
	top: 3px;
	bottom: 3px;
  }

  #bellhop-email-button {
	position: absolute;
	text-align: center;
	z-index: 3;
	top: 3px;
	bottom: 3px;
  }

  .hidden {
	transition: left .3s ease, right .3s ease;
	left: 3px;
	right: 3px;
  }

  .showing_phone {
	transition: left .3s ease, right .3s ease;
	left: -75px;
	right: 75px;
  }

  .showing_email {
	transition: left .3s ease, right .3s ease;
	left: -155px;
	right: 155px;
  }

  .sub-button {
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: #008080;
	border: solid white 3px;
	outline: solid black 1px;
	position: relative;
	line-height: 60px;
	text-align: center;
	color: white;
	z-index: 100;
	border-radius: 100%;
	cursor: pointer;
  }